.backdrop {
  width: 100%;
  max-width: 600px;
  height: 100%;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  border-radius: 4px;
  background: #fff;
  width: 70%;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: center;
}

.action {
  display: flex;
  flex-direction: column;
  gap: 8px;
}